@use "collect" as *;
main .container {
  width: 95%;
  margin: 0 auto;
  padding: 1em 0;
  background-color: rgb(244, 255, 240);
  display: flex;
  justify-content: space-around;
}
.apli_btns {
  width: 45%;
  border: 2px solid rgb(174, 50, 50);
  border-radius: 10px;
  background-color: #fff;
  .title {
    width: 80%;
    margin: 1em auto;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }
  p {
    padding: 0 0.5em;
    font-size: 2.2rem;
    line-height: 1.2;
  }
  .btn {
    display: block;
    width: 80%;
    margin: 1em auto;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: rgb(236, 239, 242);
    border: 2px solid rgb(213, 127, 14);
    border-radius: 5px;
    box-shadow: 3px 3px 5px #333;
    padding: 0.3em;
  }
}
.pich {
  background-color: rgb(214, 211, 211);
  .title {
    color: rgb(190, 185, 185);
  }
  .btn {
    color: rgb(179, 174, 174);
    background-color: rgb(236, 239, 242);
    border: 2px solid rgb(183, 180, 177);
  }
}
