@use "collect" as *;
main section {
  width: 90%;
  margin: 0 auto;
}
.swiper-slide {
  padding: 2rem;
  // height: 500px;
  background-color: rgb(143, 139, 139);
}
.main {
  .swiper-button-prev::after {
    color: #333;
    background-color: aliceblue;
    border: 2px solid orange;
  }
  .swiper-button-next::after {
    color: #333;
    background-color: aliceblue;
    border: 2px solid orange;
  }
}
.photoArea {
  margin-bottom: 0.8em;
}

.sub {
  .swiper-button-prev::after {
    font-size: 1.6rem;
    color: #fff;
    position: absolute;
    left: 0;
    // background-color: aliceblue;
    // border: 2px solid orange;
  }
  .swiper-button-next::after {
    font-size: 1.6rem;
    color: #fff;
    margin-right: 0;
    position: absolute;
    right: 0;
    // background-color: aliceblue;
    // border: 2px solid orange;
  }
}
.tag {
  width: 10em;
  color: rgb(83, 94, 250);
  border: 3px solid rgb(0, 98, 255);
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  padding: 0.3em;
}
