*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: rgb(214, 211, 211);
  font-size: 1.8rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  letter-spacing: 0.2em;
  max-width: 1000px;
  min-width: 375px;
  margin: 0 auto;
}

.container {
  margin-top: 0.8rem;
}

.header {
  background-color: rgb(255, 169, 40);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}
.header .container img {
  display: inline-block;
  width: 100px;
  height: auto;
}
.header .container h1 {
  font-size: 3rem;
}
.header .container h1 span {
  font-size: 2.4rem;
}
.header .container p {
  font-size: 2.4rem;
  color: rgb(228, 65, 0);
  text-shadow: 3px 3px 10px #fff;
}

.footer {
  text-align: center;
  background-color: rgb(212, 208, 208);
}
.footer img {
  width: 150px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  margin: 0 auto;
}
.footer small {
  display: block;
  padding-bottom: 1rem;
}

.nav {
  background-color: rgb(170, 228, 201);
}
.nav .container ul {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav .container ul li {
  width: 7em;
  height: 100%;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}
.nav .container ul li a {
  color: rgb(255, 136, 0);
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.5rem;
}
.nav .container ul li a span {
  color: #333;
  font-size: 1.4rem;
}

.greeting {
  background-color: rgb(244, 243, 229);
  margin: 1rem 2rem;
  border: 1px solid #666;
  border-radius: 5px;
}
.greeting .container {
  padding: 0 2rem 1rem;
  letter-spacing: 0.15em;
  line-height: 1.2;
}
.greeting .container span {
  font-size: 1.4rem;
  color: #999;
}

.tab {
  min-width: 500px;
  margin: 0 auto;
}

.tab-nav {
  display: flex;
}

.tab-nav-item {
  letter-spacing: 0.2em;
  margin-right: 0.8em;
  background-color: rgb(251, 249, 249);
  color: #666;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #666;
  border-radius: 10px 10px 0 0;
}

.tab-nav-item.is-active {
  background-color: rgb(242, 152, 34);
  color: #fff;
}

.tab-contents {
  border: 1px solid rgb(65, 63, 63);
  padding: 20px;
  background-color: rgb(249, 246, 238);
}

.tab-contents-item {
  display: none;
}

.yougo-wrapper {
  margin: 0 auto 0.5em;
  width: 95%;
  background-color: aliceblue;
  border: 2px solid rgb(126, 139, 236);
  border-radius: 10px;
  padding: 0.5em;
}
.yougo-wrapper dd {
  font-size: 2rem;
  line-height: 1.2;
}
.yougo-wrapper.meji {
  background-color: rgb(222, 245, 237);
  border: 2px solid rgb(44, 217, 154);
}
.yougo-wrapper.sekou {
  background-color: rgb(237, 227, 233);
  border: 2px solid rgb(238, 160, 212);
}

.dt-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
  align-items: center;
}

.yougo-text {
  font-size: 2.5rem;
}

.yougo-image {
  width: 50%;
  text-align: center;
}
.yougo-image img {
  height: 7em;
}

th,
td {
  font-size: 1.5rem;
  border: 1px solid rgb(65, 63, 63);
  background-color: #fff;
  padding: 0.5em;
  text-align: center;
}

.toplink-btn {
  width: 6em;
  background-color: #fff;
  border: 2px solid rgb(219, 4, 4);
  border-radius: 5px;
  font-size: 2.5rem;
  margin: 0 auto;
  padding: 0.3em;
}
.toplink-btn a {
  display: block;
  text-align: center;
}/*# sourceMappingURL=yougo.css.map */